html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f2f3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 70vh;
    min-height: 500px;
    padding: 10px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    background-color: #272b33;
    color: white;
    border: 2px #272b33 solid;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

button:hover {
    background-color: #3d4350;
}

.calculator {
    background-color: #272931;
    color: white;
    border: 2px #272931 solid;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.displayCurrent {
    font-size: 40px;
    text-align: right;
    padding: 20px 20px;
    word-wrap: break-word
}

.buttons {
    background-color: #292d36;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    border: 2px #292d36 solid;
    border-radius: 20px;
    padding: 30px;
}

.delBtn {
    color: #00ffd0;
}

.operatorBtn {
    color: #f08585;
}

#equalsBtn {
    grid-column: span 2;
}

