html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f2f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #272b33;
    color: white;
    border: 2px #272b33 solid;
    border-radius: 5px;
    padding: 20px;
}

button:hover {
    background-color: #3d4350;
}

.calculator {
    background-color: #272931;
    border: 2px #272931 solid;
    border-radius: 10px;
    width: 400px;
}

.buttons {
    background-color: #292d36;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border: 2px #292d36 solid;
    border-radius: 10px;
    padding: 30px;
}

.delBtn {
    color: #26ccaf;
    grid-column: span 2;
}

.operatorBtn {
    color: #a65154;
}

